.jumbotron.text-center
  .container
    %h1 Where's the Beef?
    %p You are hungry and you NEED to know where the closest food truck is!

.search-bar
  = bootstrap_form_tag url: find_closest_trucks_food_trucks_path, method: :get, remote: :true do |f|
    = f.text_field :address, hide_label: true, placeholder: "Enter your address..."
    = f.submit "Go", class: 'btn btn-primary btn-sm'

.col-xs-12#map-section
  = render 'show_trucks'
